#title-page {
  h1 {
    font: var(--font-h1);
    margin-top: 8px;
  }
}

#image {
  img {
    margin-top: 40px;
  }

  p {
    margin-top: 24px;
    font: var(--font-subtitle);
    text-align: center;
  }
}
